.pagewrapper {
	padding-top: 3.5em;
}

@media screen and (max-width: 736px) {
	.pagewrapper {
		-moz-backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		backface-visibility: hidden;
		-moz-transition: -moz-transform 0.5s ease;
		-webkit-transition: -webkit-transform 0.5s ease;
		-ms-transition: -ms-transform 0.5s ease;
		transition: transform 0.5s ease;
		padding-bottom: 1px;
		padding-top: 44px !important;
	}
}

.icons {
	cursor: default;
	list-style: none;
	padding-left: 0;
}

.icons li {
	display: inline-block;
	height: 2.5em;
	line-height: 2.5em;
	padding: 0 0.5em;
}

.icons li .icon {
	font-size: 0.8em;
}

.icons li .icon:before {
	font-size: 2em;
}
